{% extends "base.html" %} {% block title %} About Us {% endblock %} {% block
content %}

<div class="container">
  <h1>About Us</h1>
  <p>
    This is an online library where users can publish their articles and books.
    Our mission is to provide a platform for authors to share their knowledge
    and ideas with the world.
  </p>
  <p>
    Online libraries like ours are a convenient and easily accessible resource
    for readers. They offer a wide range of content, from academic papers and
    technical manuals to novels and poetry. Many online libraries also provide
    tools for authors to manage and distribute their work.
  </p>
</div>

{% endblock %}
