{% extends "base.html" %}
{% block title %} add/edit books {% endblock %}
{% block content %}
<h1 align="center"> List of Authors' books</h1>
<ul class="list-group list-group-flush" id="books">
{% for book in user.book %}
    <li class="list-group-item">
        <h6 class="list-header" onclick="retrieveBook({{book.id}})">{{ book.book_title }}</h6>
        <button type="button" class="btn btn-warning" onClick="editBook({{ book.id }})">edit book details</button>
        <button type="button" class="btn btn-warning" onClick="retrieveBook({{ book.id }})">edit chapters</button>
        <button type="button" class="close" onClick="deleteBook({{ book.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<br>
<br>
<a href="/add_book" class="btn btn-success"> add book </a>
<!--{% for book in user.book %}-->
<!--{% print(book.id) %}-->
<!--{% print(book.book_title) %}-->
<!--{% print(book.author) %}-->
<!--{% print(book.genre) %}-->
<!--{% print(book.prologue) %}-->
<!--{% endfor %}-->
{% endblock %}
