{% extends "base.html" %}
{% block title %} {{chapter.chapter_title}} {% endblock %}
{% block content %}
<h5 align="center">home / {{book.book_title}} / {{chapter.chapter_title}}</h5>
<div align="center">
    <button type="button" onclick='bookmarkChapter({{chapter.book_id}}, {{chapter.id}})'><i class="fa-solid fa-bookmark"> Bookmark Chapter</i></button>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="form-group" align="center">
    <p>{{book.book_title}} - {{chapter.chapter_title}}</p>
    <hr>
    <p>{% print(chapter.context) %}</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center">
    <button onclick="gotoNextPrev({{prev_object.id}})">previous page</button>
    <button onclick="gotoNextPrev({{next_object.id}})">next page</button>
</div>
{% endblock %}
