{% extends "base.html" %}
{% block title %} edit books {% endblock %}
{% block content %}

<form method="POST">
    <h5 align="center" data-i18n-french="Création de livres">Book Creation</h5>
    <div class="form-group">
        <br>
        <p align="center" data-i18n-french=" Titre du livre"> Book Title   <br><input type="text" align="center" id="book-title"  name="book-title"  value={%print(book.book_title)%}></p>
        <p align="center" data-i18n-french="Auteur "> Author       <br><input type="text" align="center" id="author"      name="author"      value={%print(book.author)%}     readonly="readonly"> </p>
        <p align="center" data-i18n-french="Summary"> Summary      <br><textarea class="form-control"    id="summary"     name="prologue">{%print(book.prologue)%}</textarea></p>
    </div>
    Visibility
    <div class="form-check">
        {% if book.visibility == "public" %}
            <input class="form-check-input" type="radio" name="visibility" id="public" value="public" checked>
        {% else %}
            <input class="form-check-input" type="radio" name="visibility" id="public" value="public">
        {% endif %}
        <label class="form-check-label" for="public">
            Public
        </label>
    </div>
    <div class="form-check">
        {% if book.visibility == "public" %}
            <input class="form-check-input" type="radio" name="visibility" id="private" value="private">
        {% else %}
            <input class="form-check-input" type="radio" name="visibility" id="private" value="private" checked>
        {% endif %}
        <label class="form-check-label" for="private">
            Private
        </label>
    </div>
     <div class="container">
      <ul class="ks-cboxtags">
          {% for element in form_checkboxes %}
          <li><input type="checkbox" id={%print(element)%} name={%print(element)%} value="True"><label for={%print(element)%}>{%print(element)%}</label></li>
          {% endfor %}
            </ul>
    </div>
    <div class="wrapper">
        <button type="submit" value="Send Form" class="btn btn-primary" data-i18n-french="Accepter les changements">Accept Changes</button>
        <button type="reset" class="btn btn-warning" data-i18n-french="Réinitialiser">Reset</button>
    </div>
</form>
<script>
    var summary = document.getElementById("summary").innerHTML;
</script>
<style>
.wrapper{
text-align: center;
}
.button{
position: absolute;
top: 50%;
}
</style>

{% endblock %}
