{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<br>
<form method="POST">
  <h5 align="center">Login</h5>
  <div class="form-group">
    <label for="email"><b data-i18n-french="Email Address/Username">Email Address/Username</b></label>
    <input type="email" class="form-control" id="email" name="email" onblur='checkEmail(this)' placeholder="Enter email/username"/>
  </div>
  <div class="form-group">
    <label for="password"><b data-i18n-french="Mot de passe">Password</b></label>
    <input type="password" class="form-control" id="password" name="password" onblur='checkPassword(this)' data-i18n-french="Entrez le mot de passe" data-i18n-en="Enter password" placeholder="Enter password"/>
  </div>
  <input type="hidden" name="type" value="login">
  <br />
  <button type="submit" id="submit-button" value="Send Form" class="btn btn-primary" data-i18n-french="Connexion">Login</button>
</form>
{% endblock %}


