{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
 <div id="form-register">
    <form class="w3-container" method="post">
        <div class="w3-section">
            <p><b data-i18n-french="Adresse électronique">Email Address</b></p>
            <input type="email" class="form-control" name="email" onblur="checkEmail(this)" data-i18n-french="Entrez l'email" placeholder="Enter email"/><br>
            <label for="username"><b data-i18n-french="Nom d'utilisateur">User Name</b></label>

            <input type="text" class="form-control" id="username" name="username" data-i18n-french="Entrez le nom d'utilisateur" placeholder="Enter Username"/><br>

            <label for="password1"><b data-i18n-french="Mot de passe">Password</b></label>
            <input type="password" class="form-control" id="password1" name="password1" onblur="checkPassword()" data-i18n-french="Entrez le mot de passe" placeholder="Enter Password"/><br>
            <p id="password1-error" class="hidden-subtext" data-i18n-french="c'est du sous-texte">this is subtext</p>

            <label for="password2"><b data-i18n-french="Saisissez à nouveau le mot de passe">Re-enter Password</b></label>
            <input type="password" class="form-control" id="password2" name="password2" data-i18n-french="Saisissez à nouveau le mot de passe" placeholder="Re-enter Password"/><br>
            <p id="password2-error" class="hidden-subtext" data-i18n-french="c'est du sous-texte">this is subtext</p>


            <button class="w3-button w3-block w3-green w3-section w3-padding" href="/sign_up" type="submit" data-i18n-french="Créer un compte">Create Account</button>
            <input type="hidden" id="form2" name="type" value="register">
        </div>
    </form>
 </div>
{% endblock %}