{% extends "base.html" %}
{% block title %} Book {% endblock %}
{% block content %}
<h4 align="center">{{book.book_title}}</h4>
<div align="center">
    <button type="button" onclick="bookMark({{book.id}})"><i class="fa-solid fa-bookmark"> Bookmark Book</i></button>
</div>
<hr>
<br>
<div>
    <img src="/static/emptybook.png" class="book-cover">
    <div class="wrapper">
        <div class="details" align="center">
            <div class="row">
                <div class="book-attribute">title(s):</div>
                <div class="attribute-context">{{book.book_title}}</div>
            </div>
            <div class="row">
                <div class="book-attribute">Genre(s): </div>
                <div class="attribute-context">{{book.genre}}</div>
            </div>
            <div class="row">
                <div class="book-attribute">Author: </div>
                <div class="attribute-context">{{book.author}}</div>
            </div>
            <div class="row">
                <div class="book-attribute">rank: </div>
                <div class="attribute-context">N/A</div>
            </div>
            <div class="row">
                <div class="book-attribute">rating: </div>
                <div class="attribute-context">N/A</div>
            </div>
            <!-- Share Button - Steven Chen -->
            <div class="row">
                <button type="button" 
                    class="btn btn-info"
                    data-toggle="tooltip"
                    data-placement="top"
                    data-trigger="focus"
                    data-title="Copied to Clipboard!"
                    id="sharebtn"
                    onclick="shareButton()"
                    >
                    Share Book
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <h3 align="center"> Book Summary </h3>
    <hr>
    <p align="center">{% print(book.prologue) %}</p>
</div>
<br>
<br>
<div class="w3-container">
    <div class="container d-flex justify-content-center align-self-center">
        <h3 class="mx-1"> Book Chapters </h3>
    </div>
    <hr>
    <ul class="list-group list-group-flush horizontal" id="books">
        {% for chapter in book.book_chapters %}
            {% if bookmarkedChapters %}
                {% if chapter.id in bookmarkedChapters%}
                    <li class="d-flex list-group-item active">
                        <div class="m-2 d-flex align-self-center">
                            <i class="fa-solid fa-bookmark"></i>
                        </div>
                        <h6 class="m-2 justify-content-center align-self-center" onClick="retrieveChapter({{ chapter.id }});addLastchapter({{chapter.book_id}}, {{chapter.id}});">{{ chapter.chapter_title }}</h6>
                    </li>
                {% else %}
                <li class="d-flex list-group-item">
                    <h6 class="m-2 justify-content-center align-self-center" onClick="retrieveChapter({{ chapter.id }});addLastchapter({{chapter.book_id}}, {{chapter.id}});">{{ chapter.chapter_title }}</h6>
                </li>
                {% endif %}
            {% else %}
                <li class="d-flex list-group-item">
                    <h6 class="m-2 justify-content-center align-self-center" onClick="retrieveChapter({{ chapter.id }});addLastchapter({{chapter.book_id}}, {{chapter.id}});">{{ chapter.chapter_title }}</h6>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
</div>



<style>
.wrapper{
    background:white;
    color:black;
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 100px;
    overflow:hidden;
}
.book-cover{
float:left;
width:24%;
height:22%;
}

.book-attribute{
max-width:0px;
padding-right:110px;
padding-bottom:10px;
}

.attribute-context{
}

.center{
align:center;
float:center;
}
</style>
{% endblock %}